.content {
  width: 100%;
  height: 100vh;
  /* Use dvh for mobile browsers with dynamic viewport */
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.mainContent {
  flex: 1;
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
}
