.wavesCanvas {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 350px;
  pointer-events: none;
  z-index: 0;
}

@media (max-width: 768px) {
  .wavesCanvas {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .wavesCanvas {
    height: 150px;
  }
}
